!a {
  color: inherit;
  text-decoration: inherit;
}
.allItemTitle{
  padding-bottom: 0px;
}

.Home{
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Home-TitleContainer{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.Home-intro {
  font-size: large;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.allItemContainer{
  width: 300px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  margin:5px;
  height:380px
}
.allItemBox{
  background-color: #f6f6f6;

  /*padding: 1px;*/
}

.allItemImg{
  width: 300px;
  height: 300px;
}
.allItemInfo{
  width:300px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: center;
  background-color: #f6f6f6;
  padding: 10px
}
.allItemText{
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px

}
.allItemName{
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100px;

}

.separator{
  border-bottom: 1px solid #dadada;
  width: 80px;

}

.allItemCatagory{
  font-size: 15px;
  color: teal;
  padding-top: 5px
}

.search-input {
  padding: .67861429em 1em;
  margin: 10px;
  height: 52px;
  position: relative;
}

.search-input::before {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==');
  display: block;
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  font-size: 20px;
  top: 11px;
  left: 16px;
  line-height: 32px;
  opacity: 0.6;
  margin: 2px;
}

.search-input > input {
  width: 100%;
  line-height: 1.2142em;
  font-size: 14px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  line-height: 22px;
  padding: 5px 10px 5px 25px;
  height: 32px;
  position: relative;
  border-style: solid;
  border-radius: .28571429rem;
  border-width: 1px;
  border-color: rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
}

.search-input > input:focus {
  outline: none;
}
