.Home{
width: 700px;
float: left;
}

.Home-intro {
  font-size: large;
  max-width: 480px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.allItemContainer{
  width: 600px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}
.allItemBox{
  background-color: #f4efef;
  padding: 1px;
}

.allItemImg{
  width: 450px;
  margin: 10px;
}
.allItemInfo{
  width:500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: center;
  background-color: #e8e3e3;
  padding: 5px
}

.allItemName{
  font-size: 17px;

}

.separator{
  border-bottom: 1px solid #dadada;
  width: 100%;

}

.allItemCatagory{
  font-size: 15px;
  color: teal;
  padding-top: 5px
}
