.offersContainerDiv{
  width: 100%;
  float:left;
  margin-top: 10px;
}

.offersTextAttr{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}

.offersMobileScreenContainer{
  display: none;
}

.OffersImageHeader{
  width: 100%;
  max-height: 300px;
}

@media (max-width:450px){
  .offersFullScreenTable{
    display: none !important;
  }
  .offersMobileScreenContainer{
    width: 100%;
    display: flex !important;
    flex-direction: column;
  }
}
