.itemDetailedContainer{
  float:left;
  width: 700px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.itemDetailedImage{
  margin: 10px;
  max-width: 400px !important;
  max-height: 400px !important;
  height: auto !important;
  width:auto !important;
}

.itemDetailedInfo{
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.itemDetailedButtons{
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
