.Profile-UserBody{
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: row;
}

.Profile-UserImg {
  width: 250px;
  height: 250px;
  margin-top: -100px;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.Profile-UserInfo{
  width: 450px;
}
.Profile-UserHeading {
  color: rgba(0, 0, 0, 0.5);
  font-size: 28px;
  margin: 30px 0px 20px 0px;
}

.Profile-InfoData{

}

.Profile-InfoSet{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Profile-InfoValue{
  font-size: 18px
}
