.PublicItemDetail-container{
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.PublicItemDetail-image{
  margin: 10px;
  max-width: 400px !important;
  max-height: 400px !important;
  height: auto !important;
  width:auto !important;
}

.PublicItemDetail-info{
 margin-top: 25px;
}
