.Site {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.staticCSSStyle{
  margin-top:20px;
}
.Site-VerticalMenu{
  margin-top: 45px !important;
}
.Site-logo {
  animation: Site-logo-spin infinite 20s linear;
  height: 80px;
}

.Site-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.Site-profileControls {
  padding: 10px;
}

.Site-profilePicture {
  display: block;
  width: 192px;
  height: 192px;
  margin: 10px auto;
}

.main-menu{
  float: left;
  margin-top: 43px;

}

.Site-page {
  margin-left: 250px;
  margin-top: 30px;
  padding: 10px;
  float:left;
  width:950px
}

@media (max-width:450px){

  .Site {
    width: 400px;
  }

  .Site-page{
    width:400px;;
    margin-left: 0px;
    margin-top: 30px;
  }

  .Site-VerticalMenu{
    margin-top: 45px !important;
    display:none !important;
  }
}
